 <!-- About Section -->
    <section class="success" id="angebot">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Angebot</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <p>„EUroValue“

„EuroValue - SchülerInnen philosophieren über europäische Werte“

Die Idee: Dem Konzept „Europa“ und der Europäischen Union gehen SchülerInnen philosophisch hinterfragend auf den Grund. Gemeinsam erforschen und erlernen sie die Europäischen Grundwerte. 


Die Herausforderung: Antieuropäische, nationalistische und autoritäre Einstellungen wirken verstärkt auch auf SchülerInnen ein. Die nachhaltige Auseinandersetzung mit den Europäischen Grundwerten und -rechten wappnet sie erfolgreich dagegen. 

Das Ziel: 
Begreifen der Europäische Union als Werte- und Grundrechtsgemeinschaft
Verstehen wie Europäische Grundwerte das eigene Leben positiv prägen 
Stärkung des Europäischen Bewusstseins und Identität
Förderung einer aktiven ‚European Cititzenship’ 
Entwickeln einer demokratischen, offenen und toleranten Haltung
Verinnerlichung von Werten wie Menschenwürde, Freiheit, Demokratie
Aktives Leben von Europäischen Werten.
 
Die Methode: „EuroValue“ bedient sich der „p4c-Methode“ (Lipman, Jackson) und führt mit SchülerInnen geleitete ‚philosophische Gespräche’. Dabei wird die Interessens- und Bezugswelt der Kinder in den Mittelpunkt gestellt. Durch gemeinsames wertschätzendes Hinterfragen auf Augenhöhe wird das nachhaltige Begreifen von ‚philosophischen’ Werten wie z.B.  ‚Freiheit’ ermöglicht.


Das Angebot:
Ein maßgeschneidertes Workshops-Angebot wird auf Anfrage flexibel erstellt. 
Die Workshops eignen sich für alle Schulklassen von der 1. bis 12. Schulstufe und werden altersgerecht gestaltet. 


Das Team:
Dr. Bernhard Köhle und Mag. Michael Wißgott unterrichten an der Kinderuni Wien und leiten philosophische Gespräche an Schulen.

Der Kontakt: 
Europify – Unabhängiges Institut für Europäische Bildung & Integration
www.europify.at
office@europify.at
koehlebernhard@gmail.com
Laudongasse 44/1/9
1080 Wien
Tel.: 0650 6667282


</p>
                </div>
               
            </div>
        </div>
    </section>
