 <!-- About Section -->
    <section class="success" id="angebot">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Angebot</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <p style="text-align:justify; padding: 25px 25px"><h3>EuroValue - SchülerInnen philosophieren über europäische Werte</h3></p>

             <p style="text-align:justify; padding: 25px 25px"> Die Idee: Dem Konzept „Europa“ und der Europäischen Union gehen SchülerInnen philosophisch hinterfragend auf den Grund. Gemeinsam erforschen und erlernen sie die Europäischen Grundwerte. </p>


<p style="text-align:justify; padding: 25px 25px">Die Herausforderung: Antieuropäische, nationalistische und autoritäre Einstellungen wirken verstärkt auch auf SchülerInnen ein. Die nachhaltige Auseinandersetzung mit den Europäischen Grundwerten und -rechten wappnet sie erfolgreich dagegen. </p>

<p style="text-align:justify; padding: 25px 25px">Das Ziel: </p>
<ul style="padding-left: 75px"><li>Begreifen der Europäische Union als Werte- und Grundrechtsgemeinschaft</li>
<li>Verstehen wie Europäische Grundwerte das eigene Leben positiv prägen </li>
<li>Stärkung des Europäischen Bewusstseins und Identität</li>
<li>Förderung einer aktiven ‚European Cititzenship’ </li>
<li>Entwickeln einer demokratischen, offenen und toleranten Haltung</li>
<li>Verinnerlichung von Werten wie Menschenwürde, Freiheit, Demokratie</li>
<li>Aktives Leben von Europäischen Werten.</li> </ul>
 
<p style="text-align:justify; padding: 25px 25px">Die Methode: „EuroValue“ bedient sich der „p4c-Methode“ (Lipman, Jackson) und führt mit SchülerInnen geleitete ‚philosophische Gespräche’. Dabei wird die Interessens- und Bezugswelt der Kinder in den Mittelpunkt gestellt. Durch gemeinsames wertschätzendes Hinterfragen auf Augenhöhe wird das nachhaltige Begreifen von ‚philosophischen’ Werten wie z.B.  ‚Freiheit’ ermöglicht. </p>


<p style="text-align:justify; padding: 25px 25px">Das Angebot:
Ein maßgeschneidertes Workshops-Angebot wird auf Anfrage flexibel erstellt. 
Die Workshops eignen sich für alle Schulklassen von der 1. bis 12. Schulstufe und werden altersgerecht gestaltet. </p>


<p style="text-align:justify; padding: 25px 25px">Das Team:
Dr. Bernhard Köhle und Mag. Michael Wißgott unterrichten an der Kinderuni Wien und leiten philosophische Gespräche an Schulen.</p>


               </div>
               
            </div>
        </div>
    </section>
