 <!-- About Section -->
    <section class="success" id="partner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Partner</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                 <p style="text-align:justify; padding: 25px 25px"><b>Netzwerk „EUropa in der Schule“</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>Zentrum Polis – Politik Lernen in der Schule</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>Pädagogische Hochschule Wien</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>Universität Wien – Institut für Geographie und Regionalforschung</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>Universität Wien – Fachdidaktik Geographie und wirtschaftliche Bildung</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>Universität Wien – Didaktik der Geschichte du Politischen Bildung</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>Universität Wien – European Studies</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>FH Burgenland – Europäische Studien</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>PH Karlsruhe – Europaorientierte Studien</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>Donau-Universität-Krems – Department für Europapolitik und Demokratieforschung</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>Europa Büro des Stadtschulrats für Wien</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>Landesschulrat für Steiermark, Servicereferat EU/ Internationalisierung, Graz</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>European Democray Lab – Berlin</b></p>
                  <p style="text-align:justify; padding: 25px 25px"><b>Pulse of Europe - Wien</b></p>
                  <p style="text-align:justify; padding: 25px 25px"><b>EUROCLIO – European Association of History Educators</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>ESPON 2020 Cooperation Programme, Luxembourg</b></p>
                 <p style="text-align:justify; padding: 25px 25px"><b>ÖIR-Projekthaus GmbH – Wien</b></p>
                 
                 <p style="text-align:justify; padding: 25px 25px">… und viele mehr!</p>


</p>
               </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
