 <!-- About Section -->
    <section class="success" id="partner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Partner</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                 
                    <p style="text-align:justify; padding: 25px 100px">
                 <h4>Netzwerk „EUropa in der Schule“</h4>
                 <h4>Zentrum Polis – Politik Lernen in der Schule</h4>
                 <h4>Pädagogische Hochschule Wien</h4>
                 <h4>Universität Wien – Institut für Geographie und Regionalforschung</h4>
                 <h4>Universität Wien – Fachdidaktik Geographie und wirtschaftliche Bildung</h4>
                 <h4>Universität Wien – Didaktik der Geschichte du Politischen Bildung</h4>
                 <h4>Universität Wien – European Studies</h4>
                 <h4>FH Burgenland – Europäische Studien</h4>
                 <h4>PH Karlsruhe – Europaorientierte Studien</h4>
                 <h4>Donau-Universität-Krems – Department für Europapolitik und Demokratieforschung</h4>
                 <h4>Europa Büro des Stadtschulrats für Wien</h4>
                 <h4>Landesschulrat für Steiermark, Servicereferat EU/ Internationalisierung, Graz</h4>
                 <h4>European Democray Lab – Berlin</h4>
                 <h4>Pulse of Europe - Wien</h4>
                 <h4>EUROCLIO – European Association of History Educators</h4>
                 <h4>ESPON 2020 Cooperation Programme, Luxembourg</h4>
                 <h4>ÖIR-Projekthaus GmbH – Wien </h4> 
                 <p>… und viele mehr!</p>


</p>
               </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
