 <!-- About Section -->
    <section class="success" id="partner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Partner</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                 
                    <p>
                     <ul style="text-align: center"> 
<li>Netzwerk „EUropa in der Schule“</li>
<li>Zentrum Polis – Politik Lernen in der Schule</li>
<li>Pädagogische Hochschule Wien</li>
<li>Universität Wien – Institut für Geographie und Regionalforschung</li>
<li>Universität Wien – Fachdidaktik Geographie und wirtschaftliche Bildung</li>
<li>Universität Wien – Didaktik der Geschichte du Politischen Bildung</li>
<li>Universität Wien – European Studies</li>
<li>FH Burgenland – Europäische Studien</li>
<li>PH Karlsruhe – Europaorientierte Studien</li>
<li>Donau-Universität-Krems – Department für Europapolitik und Demokratieforschung</li>
<li>Europa Büro des Stadtschulrats für Wien</li>
<li>Landesschulrat für Steiermark, Servicereferat EU/ Internationalisierung, Graz</li>
<li>European Democray Lab – Berlin</li>
<li>Pulse of Europe - Wien</li>
<li>EUROCLIO – European Association of History Educators</li>
<li>ESPON 2020 Cooperation Programme, Luxembourg</li>
<li>ÖIR-Projekthaus GmbH – Wien </li> </ul>
… und viele mehr!


</p>
               </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
